---
import WhatsappIcon from '../icons/WhatsappIcon.astro';

const whatsappNumber = '+56976225094';
// MENSAJE ACTUALIZADO
const defaultMessage = 'Hola, visité su sitio web y me gustaría recibir asesoría.'; 
const whatsappUrl = `https://wa.me/${whatsappNumber}?text=${encodeURIComponent(defaultMessage)}`;
---

<a href={whatsappUrl} target="_blank" class="whatsapp-button" aria-label="Contactar por WhatsApp">
  <WhatsappIcon />
</a>

<style>
    .whatsapp-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #25D366;
      color: white;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 1000;
      transition: all 0.3s ease;
    }
    .whatsapp-button:hover {
      background-color: #20BA5A;
      transform: scale(1.1);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }
</style>